<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="cas">
  <description>Default PHP CodeSniffer configuration for CAS module.</description>
  <config name="installed_paths" value="../../drupal/coder/coder_sniffer/Drupal,../../drupal/coder/coder_sniffer/DrupalPractice,../../slevomat/coding-standard" />
  <file>.</file>
  <arg name="extensions" value="inc,install,module,php,profile,test,theme,yml"/>

  <!--Ignore README markdown-->
  <exclude-pattern>README\.md</exclude-pattern>

  <!-- Drupal standards -->
  <rule ref="Drupal">
  </rule>
  <rule ref="Drupal.Commenting.FunctionComment.MissingParamComment">
    <!-- Allow to omit @param description in tests -->
    <exclude-pattern>tests/**/*</exclude-pattern>
  </rule>
  <rule ref="DrupalPractice"/>

  <!-- Strict typing & type hinting rules -->
  <rule ref="SlevomatCodingStandard.TypeHints.DeclareStrictTypes.DeclareStrictTypesMissing">
    <severity>5</severity>
  </rule>
  <rule ref="SlevomatCodingStandard.TypeHints.PropertyTypeHint">
    <exclude name="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingTraversableTypeHintSpecification"/>
  </rule>
  <rule ref="SlevomatCodingStandard.TypeHints.NullTypeHintOnLastPosition"/>
  <rule ref="SlevomatCodingStandard.TypeHints.NullableTypeForNullDefaultValue"/>
  <rule ref="SlevomatCodingStandard.TypeHints.LongTypeHints"/>
  <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint">
    <exclude name="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingTraversableTypeHintSpecification"/>
  </rule>
  <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint">
    <exclude name="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingTraversableTypeHintSpecification"/>
  </rule>
  <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHintSpacing">
    <spacesCountBeforeColon>0</spacesCountBeforeColon>
  </rule>
</ruleset>
